.imageContainer {
    justify-items: center;
    transition: none;

}

.imageContainer .image {
    height: auto;
    width: auto;
    border-radius: .25em;
    transition: .15s;
}

.imageContainer:hover .image {
    cursor: grab;
    border-radius: 7.5em;
}

.enlargedImageContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:grab;
}

.enlargedImageContainer .image {
    width: 80%;
    height: auto;
    animation: fade .1s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
