.photoCards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(max(10em, 20%), 1fr));
    gap: .5em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;  
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: white;
    align-content: center;
    justify-items: center;
    font-size: xx-large;
}

.blossom {
    animation: spin 3s linear infinite;
    opacity: .8;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}