.titleText {
    font-size: clamp(2em, 6vw, 6em);
    font-weight: 900;
    cursor: default;
    width: fit-content;
    height: fit-content;
    background-clip: text;
    font-family: "Nunito", sans-serif;
    text-wrap: nowrap;

    &:hover {
        color: transparent;
        background-color: rgb(255, 183, 197);
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);    
    }
}


