@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-size: 100%;
  background-color: var(--bg-color);
  color: black;

  --main-color: rgb(255, 183, 197);
  --secondary-color: rgb(183, 255, 241);
  --bg-color: rgb(255, 255, 255);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  transition: .25s ease-in-out .01s;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}