.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: black;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.title {
  font-size: clamp(1em, 5vw, 10em);
}

.links {
  display: flex;
  flex-direction: row;
  font-size: clamp(1em, 2vw, 2em);
  width: 100%;
  justify-content: space-between;
}
