.main {
  position: absolute;
  width: 33.333%;
  display: flex;
  top: 35%;
  left: 33.333%;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  color: black;
}

.body {
  font-size: 1.5em;
}

.header {
  font-size: 1.8em;
  color: black;
}

.headerLink {
  font-size: 1.8em;
  color: black;
  font-weight: 700;
  text-decoration-thickness: .175rem;

  &:hover {
    color: var(--main-color);
  }
}
